body {
    margin: 0;
    padding: 0;
    background-color: #111216;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.spinner {
 width: 44.8px;
 height: 44.8px;
 animation: spinner-y0fdc1 2s infinite ease;
 transform-style: preserve-3d;
}

.spinner > div {
 background-color: rgba(157, 255, 0, 0.2);
 height: 100%;
 position: absolute;
 width: 100%;
 border: 2.2px solid #AFE614;
}

.spinner div:nth-of-type(1) {
 transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
 transform: rotateY(-270deg) translateX(50%);
 transform-origin: top right;
}

.spinner div:nth-of-type(3) {
 transform: rotateY(270deg) translateX(-50%);
 transform-origin: center left;
}

.spinner div:nth-of-type(4) {
 transform: rotateX(90deg) translateY(-50%);
 transform-origin: top center;
}

.spinner div:nth-of-type(5) {
 transform: rotateX(-90deg) translateY(50%);
 transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
 transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
 0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
 }

 50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
 }

 100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
 }
}

#mensagem {
    text-align: center;
    background: 
        linear-gradient(90deg, #AFE614, white 50%) left,
        linear-gradient(90deg, transparent 50%, black 50%) right,
        linear-gradient(90deg, #AFE614, #AFE614) center;
    background-size: 200% auto;
    color: transparent;
    background-clip: text, text, text;
    -webkit-background-clip: text, text, text;
    animation: gradientPulse 5s linear infinite;
}

@keyframes gradientPulse {
    0% {
        background-position: -100% 50%, 100% 50%, 0% 50%;
    }
    50% {
        background-position: 100% 50%, -100% 50%, 0% 50%;
    }
    100% {
        background-position: -100% 50%, 100% 50%, 0% 50%;
    }
}